node_modules
.vscode

# Keep environment variables out of version control
.env

# Keep dist out of git repository
dist/

# Keep yarn stuff out
.yarn/
.yarn/*
!.yarn/releases
!.yarn/plugins

# Other stuff
**/.DS_Store
.graphclient